{% extends 'myapp/base.html' %}

{% load i18n %}

{% block content %}

<h3 class="mb-4">{{ work_data.title }}</h3>
<div class="card top mb-4" style="width: 100%; max-width: 1280px; aspect-ratio: 16 / 9;">
    <img src="{{ work_data.image.url }}"
         alt=""
         style="width: 100%; height: 100%; object-fit: cover;"
    >
</div>

<div class="row">
    <div class="col-sm-4 mb-4">
        <h4 class="mb-3">{% trans "基本情報" %}</h4>
        <p>
            <i class="fas fa-laptop-code mr-2"></i>
            <span class="font-weight-bolder">SKILLS: </span>
            {{ work_data.skill}}
        </p>
        <hr>
        <p>
            <i class="fab fa-github mr-2"></i>
            <span class="font-weight-bolder">GITHUB: </span>
            {% if work_data.url %}
                <a href="{{ work_data.url }}" target="_blank" class="link-color">Link</a>
            {% else %}
                <!--URLがない場合、-（ハイフン）と表示-->
                -
            {% endif %}
        </p>
        <hr>
        <p>
            <i class="far fa-calendar-alt mr-2"></i>
            <span class="font-weight-bolder">CREATED: </span>
            {{ work_data.created }}
        </p>
        <hr>
    </div>
    <div class="col-sm-8 mb-5">
        <h4 class="mb-3">{% trans "プロジェクト概要" %}</h4>
        <p>{{ work_data.description|linebreaksbr }}</p>
    </div>
</div>

{% endblock %}
