{% extends 'myapp/base.html' %}

{% load i18n %}

{% block top_content %}
{% if not has_seen_animation %}
    <div id="splash">
        <div id="splash_text"></div>
    </div>
{% endif %}
{% endblock %}

{% block content %}
<div class="card top d-flex flex-column justify-content-end mb-4">
    <img src="{{ profile_data.topimage.url }}"
         alt=""
         style="width: 100%; height: 100%; object-fit: cover;"
    >
    <div class="overlay text-white p-5">
        {% if profile_data.title %}
            <h1 class="title">{{ profile_data.title }}</h1>
        {% endif %}
        {% if profile_data.subtitle %}
            <h5 class="subtitle">{{ profile_data.subtitle }}</h5>
        {% endif %}
    </div>
</div>

<div class="row mb-5">
    {% for work in work_data %}
        <div class="col-6 col-md-3 mb-3">
            <div class="card work-thumbnail">
                {% if work.thumbnail %}
                    <img src="{{ work.thumbnail.url }}" alt="" class="work-img">
                {% else %}
                    <img src="{{ work.image.url }}" alt="" class="work-img">
                {% endif %}
                <div class="work-title text-center">
                    <a class="mb-0">
                        {{ work.title }}
                    </a>
                </div>
                {% if work.description %}
                    <a href="{% url 'myapp:detail' work.id %}" class="stretched-link work"></a>
                {% endif %}
            </div>
        </div>
    {% endfor%}
</div>
{% endblock %}

{% block extra_js %}
<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="https://rawgit.com/kimmobrunfeldt/progressbar.js/master/dist/progressbar.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
{% endblock %}